# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DATABASE_URL=postgresql://user:password@host:port/dbname?pgbouncer=true
DIRECT_URL=postgresql://user:password@host:port/dbname

# Security Configuration
JWT_SECRET=super_secret_jwt_key_change_me_in_production
